@use 'theme';

// font rules
@font-face {
  font-family: 'Yanone';
  src: url('@fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Yaldevi';
  src: url('@fonts/Yaldevi/Yaldevi-VariableFont_wght.ttf');
}

$heading-base-size: 5.25rem;
$heading-sizes: (
  'h1':  $heading-base-size,
  'h2': $heading-base-size * 0.8,
  'h3': $heading-base-size * 0.6,
  'h4': $heading-base-size * 0.5,
);

$heading-weights: (
  'h1':  500,
  'h2': 350,
  'h3': 200,
  'h4': 220,  
);

@mixin heading($h: h1, $scale: 1, $weight: 1, $gradient: false) {
  font-size: map-get($heading-sizes, #{$h}) * $scale;
  font-weight: map-get($heading-weights, #{$h}) * $weight;

  @if $gradient { 
    background-image: linear-gradient(90deg, #2689FF, #1A60B2);
    background-clip: text;
    color: transparent;
  }

  @if $h != 'h4' {
    font-family: 'Yanone';
  } @else {
    font-family: 'Yaldevi';
  }
}

%large-text {
  font-family: 'Yaldevi';
  font-size: 2em;
  color: map-get(theme.$blues, 'blue-700');

  @media (max-width: 1600px) {
    font-size: 1.8em;
  }

  @media (max-width: 1200px) {
    font-size: 1.6em;
  }

  @media (max-width: 1000px) {
    font-size: 1.4em;
  }

  @media (max-width: 732px) {
    font-size: 1.2em;
  }
}

%regular-text {
  font-family: 'Yaldevi';
  font-size: 1em;
  font-weight: 100;
}