/*
Style Rule Order:
1. box-sizing
2. position
3. display
4. additional display properties
5. width and height
6. max-width/height
7. box module styles outside in
8. text styles
9. transformations
10. animation
11. other
*/

// Custom scss
$prefix: "mb-";
$enable-shadows: true;

// colors
$logo-colors: (
  "blue": #0454b3ff,
  "baby-blue": #bfdbfeff,
  "gray": #2f2f2fff,
  "white": #ffffffff,
  "dark-blue": #044392ff
);

$blues: (
  "blue-100": map-get($logo-colors, "baby-blue"),
  "blue-500": map-get($logo-colors, "blue"),
  "blue-900": map-get($logo-colors, "dark-blue")
);

// theme colors
$primary: map-get($blues, "blue-500");
$secondary: map-get($blues, "blue-100");

// component colors
$heading: linear-gradient(90deg, #2689FF, #1A60B2);
$text: map-get($logo-colors, "white");
$footer: #CDCCFF;
$active-link: #030DFF;
$para: #030086;
$bg: #EAEDFE;
$footer-bg: #272A3F;
$header-bg: linear-gradient(90deg, #67B4F0, #3B688A);

@import "bootstrap/scss/bootstrap";

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  color-scheme: light dark;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  font-family: system-ui;
}

img, svg, video {
  display: block;
  max-width: 100%;
  max-height: 100%;
  font-style: italic;
}