@use '@styles/global-styles.scss' as g;

.banner {
  top: 65%;
  left: 3%;
  width: 35%;
  min-height: fit-content;
  border-image-source: linear-gradient(90deg, hsl(245, 79%, 54%), hsl(245, 98%, 83%));
  border-image-slice: 30;
  border-image-repeat: stretch;
  border-image-width: 1px;
  padding: 3rem 3rem 1rem;
  background-color: hsl(0, 2%, 10%, 0.3);
  backdrop-filter: blur(4px);
  color: map-get(g.$logo-colors, 'white');

  h1 {
    @include g.heading(h1);
    margin-bottom: 3rem;
  }

  p {
    font-family: 'Yaldevi';
    font-weight: 200;
    font-size: 2rem;
  }

  .action {
    height: 20%;
    align-items: baseline;
    margin-top: 3rem;

    .action-text {
      gap: 5px;
      margin-right: 5rem;
      transition: all 0.5s ease-out;

      &:hover {
        gap: 10px;
        margin-right: 3rem;
      }
      
      h4 {
        @include g.heading(h4);
      }
    }
  }
}