/*
Style Rule Order:
1. box-sizing
2. position
3. display
4. additional display properties
5. width and height
6. max-width/height
7. box module styles outside in
8. text styles
9. transformations
10. animation
11. other
*/

@use 'theme';
@use 'text';

// Custom scss
$prefix: "mb-";
$enable-shadows: true;

// spacing
$spacer: 2rem;

// color overrides
$primary: map-get(theme.$blues, "blue-500");
$secondary: map-get(theme.$blues, "blue-200");

// links
$navbar-light-active-color: map-get(theme.$blues, 'blue-800');

// import bootstrap
@import "bootstrap/scss/bootstrap";

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  color-scheme: light dark;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  font-family: 'Yanone', system-ui;
}

img, svg, video {
  display: block;
  max-width: 100%;
  max-height: 100%;
  font-style: italic;
}

a:link {
  color: map-get(theme.$blues, 'blue-300');
  text-decoration: none;
}

a:visited {
  color: map-get(theme.$blues, 'blue-300');
}

a:hover {
  text-shadow: map-get(theme.$logo-colors, 'white') 0 0 1rem;
}

a:active {
  color: map-get(theme.$blues, 'blue-500');
}

h3 {
  @include text.heading('h3', 2, 1, true);
  margin-bottom: 5rem;
}