@use '@styles/global-styles.scss' as g;

.header {
  background-image: linear-gradient(90deg, #67B4F0, #3B688A);;

  h1, a:not(.active) {
    color: map-get(g.$logo-colors, 'white');
  }

  h1 {
    @include g.heading(h1);
  }

  .nav-link {
    @include g.heading('h3', 1.2);
    font-family: 'Yanone';
  }
}