@use '../Footer/Footer' as footer;

.footer-column {
  @extend %column;

  .footer-title {
    font-size: 1.2em;
  }

  ul {
    display: flex;
    flex-flow: column nowrap;
    gap: 1.2rem;
    padding: 0;

    li.footer-link {
      display: inline-flex;
      flex-flow: row nowrap;
      align-items: center;
      height: footer.$footer-font;
      gap: footer.$footer-gap;

      & > * {
        display: inline;
      }
    }
  }

  .footer-icon {
    $icon-size: 22px;
    width: $icon-size;
    height: $icon-size;
  }
}