@use '@styles/_text.scss';
@use '@styles/_theme.scss';

.hero {
  height: 85rem;
  background-image: linear-gradient(40deg, hsl(238, 98%, 60%), hsla(236, 40%, 85%, 0.2) 18%, hsla(238, 100%, 75%, 0.72)), url('@images/fun-at-primantis.jpg');
  background-blend-mode: multiply;
  background-position-x: center;
  background-position-y: 62%;
  background-size: cover;
  isolation: isolate;
  color: map-get(theme.$logo-colors, 'white');

  .custom-shape-divider-bottom-1713741397 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .custom-shape-divider-bottom-1713741397 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 123px;
  }

  .custom-shape-divider-bottom-1713741397 .shape-fill {
    fill: #FFFFFF;
  }

  .event-time {
    top: 7%;
    right: 5%;
    padding-right: 3rem;
    border-right: solid 3px;
    filter: drop-shadow(map-get(theme.$logo-colors, 'blue') 0 0 1rem);
  
    h1 {
      @include text.heading(h1);
    }
  
    span.light {
      font-weight: 200;
    }
  }
}

main {
  margin-top: 5rem;

  & > section {
    padding: 0 6%;
  }

  section.mission {
    justify-content: space-between;
    height: 73rem;
    margin-bottom: 1rem;
    padding: 3%;
    box-shadow: 0px 9px 11.4px -1.5px hsla(0, 0%, 0%, 0.25);

    .mission-content {
      height: 80%;

      p {
        @extend %large-text;
        height: 100%;
      }
      
      .mission-img {
        box-shadow: 0px 4px 29.6px 4px hsla(233, 24%, 20%, 0.75);
        width: 32%;
        float: right;
        margin-left: 8.5rem;
        height: 100%;
        object-fit: cover;

        @media (max-width: 1550px) {
          width: 30%;
          height: 80%;
        }

        @media (max-width: 1300px) {
          width: 38%;
          height: 78%;
        }

        @media (max-width: 1000px) {
          width: 48%;
          height: 75%;
        }

        @media (max-width: 750px) {
          width: 57%;
          height: 65%;
        }
      }
    }
  }

  section.works {
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-color: map-get(theme.$logo-colors, 'white');
    text-align: center;

    .card-display {
      width: 60%;
      justify-content: space-between;
      margin: 2.5rem auto;
      gap: 8rem;
    }
  }
}