@use '@styles/global-styles.scss' as g;

.hero {
  height: 85rem;
  background-image: linear-gradient(40deg, hsl(238, 98%, 60%), hsla(236, 40%, 85%, 0.2) 18%, hsla(238, 100%, 75%, 0.72)), url('@images/fun-at-primantis.jpg');
  background-blend-mode: multiply;
  background-position-x: center;
  background-position-y: 40%;
  background-size: cover;
  isolation: isolate;
  color: map-get($map: g.$logo-colors, $key: 'white');
}

.event-time {
  top: 10%;
  right: 5%;
  padding-right: 3rem;
  border-right: solid 3px;
  filter: drop-shadow(map-get(g.$logo-colors, 'blue') 0 0 1rem);

  h1 {
    @include g.heading(h1);
  }

  span.light {
    font-weight: 200;
  }
}

.mission {
  justify-content: space-between;
  height: 80rem;
  padding: 6%;

  & > * {
    display: inline-block;
  }

  .mission-text {
    width: 50%;

    h3 {
      @include g.heading('h3', 2, 1, true);
      margin-bottom: 5rem;
    }

    p {
      @extend %large-text;
    }
  }

  .mission-img {
    width: 37%;
    box-shadow: 0px 4px 19.6px 14px rgba(39, 42, 63, 0.75);
  }
}